{% extends 'base.html' %} <!-- this line of code is for jenga to tell them to add all the below code as extention in the main body of base.html -->
<!-- also extends means inherits to the base.html -->

{% block head %}
<title>Flask CRUD Homepage</title> <!--So this line of code will replace the title of the base.html code with itself-->
{% endblock %}

{% block body %} <!--any code that wwill be added in this section will be applied to the base.html body-->
<div class="content">
    <h2>Welcome to my App</h2>
    <h1>Task Manager</h1>
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>Content</td>
            <td>Data</td>
            <td>More</td>
        </tr>
    </table>
    <form action="">
        <input type="text" name="Content" id="Content">
        <input type="Submit" value="Add Task" id="btn_add">
    </form>
</div>
{% endblock %}