<!-- Every route of our app will be in the Template file -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask CRUD App</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}"/>
</head>
<body>
    <h1>Welcome to my app</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum temporibus, ea rem ad maiores cupiditate. Laborum laudantium vel magnam modi necessitatibus at sed repellat, ipsa quia culpa officiis debitis vitae?</p>
</body>
</html>